* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: #ffffff;
  background-color: #3c82d2;
  background: radial-gradient(circle at 35% 20%, #1caee2, #3c82d2 25%, #1c2d6a 60%);
  min-height: 100vh;
}

h1, p {
  margin: 6px auto;
  text-align: center;
}

.card {
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  aspect-ratio: 500 / 312;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  animation: 4s cubic-bezier(0.84, 0.11, 0.21, 0.89) 2s infinite flipping;
}

.card:hover .card-inner {
  animation-play-state: paused;
}

@keyframes flipping {
  0%, 80% {
    transform: rotateY(0deg);
  }
  30%, 60% {
    transform: rotateY(180deg);
  }
}

.card-front, .card-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 3% / 5%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

.card-front::after, .card-back::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  overflow: hidden;
}

.card-front {
  background: radial-gradient(circle at 65%, #1caee2, #3c82d2 25%, #1c2d6a 60%);
}
.card-front:after {
  background: radial-gradient(circle at 65% 0%, #17b796, #087742 30%, #0a3538 60%);
}

.card-back {
  background: radial-gradient(circle at 35%, #1caee2, #3c82d2 30%, #1c2d6a 60%);
  transform: rotateY(180deg);
}
.card-back::after {
  background: radial-gradient(circle at 35% 0%, #17b796, #087742 30%, #0a3538 60%);
}

/* Card Front Design */

.card-front-design {
  position: absolute;
  width: 100%;
  height: 100%;
}

.double-cash {
  position: absolute;
  top: 43.2%;
  width: 100%;
  font-size: 24px;
  line-height: 1;
  z-index: 10;
}

.double-cash .double {
  padding-left: 49%;
  background: linear-gradient(90deg, #1c2d6a, #1dbbee 30%, #1c2d6a 70%);
}

.double-cash .cash {
  padding-left: 68.4%;
  background: linear-gradient(90deg, #0a3538 5%, #17b796 35%, #0a3538 70%);
}

/* card front parts */
.issuer-logo {
  position: relative;
  width: 12%;
  margin: 3.2% 4.8%;
}

.chip-row {
  position: relative;
  display: flex;
  align-items: center;
  margin: 5.6% 3.2%;
}
.chip-row .contactless {
  width: 6%;
  margin-right: 8px;
}
.chip-row .chip {
  width: 15%;
}

.name-row {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: -webkit-fill-available;
  width: -moz-available;
  margin: 3.2% 4.8%;
}
.name-row .name {
  font-size: 22px;
}
.name-row .card-type {
  width: 22%;
}

/* card back parts */
.card-back .upper-half {
  box-sizing: border-box;
  position: absolute;
  top: 0.7%;
  left: 0;
  width: 100%;
  height: 50%;
  padding: 0 3.2%;
}

.upper-half .customer-service {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}
.upper-half .customer-service .exp-info {
  font-size: 6px;
}

.upper-half .card-stripe {
  width: 110%;
  height: 35.3%;
  margin: 1.7% -3.5%;
  background-color: #000000;
}

.upper-half .world-elite {
  float: right;
  margin: 2.4% 2.5%;
  font-size: 16px;
}

.card-back .lower-half {
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  padding: 0 3.2%;
}

.lower-half .card-numbers {
  margin-top: 1.2%;
  font-size: 26px;
}

.lower-half .exp-date {
  font-size: 26px;
}
.lower-half .valid-thru {
  display: inline-block;
  width: 42px;
  font-size: 10px;
}

.lower-half .name {
  font-size: 18px;
}

.lower-half .signature-cvv-other {
  width: 57%;
  height: 40%;
}

.lower-half .signature-cvv {
  height: 67.4%;
  background-color: #17b796;
  font-size: 24px;
  font-style: italic;
}
.lower-half .signature-cvv span {
  float: right;
  margin: 2.6%;
  color: #000000;
}

.lower-half .other-info {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  font-size: 10px;
}

/* Utility */
.z100 {
  z-index: 100;
}

/* @media */
@media (max-width: 500px) {
  .double-cash {
    font-size: 4.8vw;
  }

  .name-row .name {
    font-size: 4.4vw;
  }

  .upper-half .customer-service {
    font-size: 2vw;
  }
  .upper-half .customer-service .exp-info {
    font-size: 1.2vw;
  }

  .upper-half .world-elite {
    font-size: 3.2vw;
  }

  .lower-half .card-numbers, .lower-half .exp-date {
    font-size: 5.2vw;
  }
  .lower-half .valid-thru {
    font-size: 2vw;
  }
  .lower-half .name {
    font-size: 3.6vw;
  }

  .lower-half .signature-cvv {
    font-size: 4.8vw;
  }
  .lower-half .other-info {
    font-size: 2vw;
  }
}




/* Circles and Arcs BEGIN */

.arc-design-container {
  position: absolute;
  z-index: 2;
  width: 81%;
  aspect-ratio: 1 / 1;
  top: -16%;
  left: 26%;
}

.def-only {
  width: 0;
  height: 0;
}

circle {
  fill: transparent;
  stroke-width: 2;
  transform-origin: center;
}

.white-line {
  stroke: #ffffff;
  opacity: 0.5;
}
.line {
  stroke: #639bd4;
  opacity: 0.4;
}


#arc_design .arc {
  transform-origin: center;
}

#arc_design .arc-11 {
  transform: rotate(-5deg);
}
#arc_design .arc-12 {
  transform: rotate(125deg);
}
#arc_design .arc-13 {
  transform: rotate(183deg);
}
#arc_design .arc-14 {
  transform: rotate(255deg);
}
#circle_1 .white-line {
  stroke-dashoffset: 290;
  stroke-dasharray: 75.4 527.8;
}
#circle_1 .line-1 {
  stroke-dashoffset: 302;
  stroke-dasharray: 78.5 549.8;
}
#circle_1 .line-2 {
  stroke-dashoffset: 314;
  stroke-dasharray: 81.7 571.8;
}
#circle_1 .line-3 {
  stroke-dashoffset: 326;
  stroke-dasharray: 84.8 593.8;
}

#arc_design .arc-22 {
  transform: rotate(193deg);
}
#circle_2 .white-line {
  stroke-dashoffset: 141;
  stroke-dasharray: 88 615.7;
}
#circle_2 .line-1 {
  stroke-dashoffset: 146;
  stroke-dasharray: 91.1 637.7;
}
#circle_2 .line-2 {
  stroke-dashoffset: 151;
  stroke-dasharray: 94.2 659.8;
}
#circle_2 .line-3 {
  stroke-dashoffset: 156;
  stroke-dasharray: 97.4 681.7;
}

#arc_design .arc-32 {
  transform: rotate(180deg);
}
#circle_3 .white-line {
  stroke-dashoffset: 0;
  stroke-dasharray: 201.1 603.1;
}
#circle_3 .line-1 {
  stroke-dashoffset: 0;
  stroke-dasharray: 207.3 622.1;
}
#circle_3 .line-2 {
  stroke-dashoffset: 0;
  stroke-dasharray: 213.6 640.9;
}
#circle_3 .line-3 {
  stroke-dashoffset: 0;
  stroke-dasharray: 219.9 659.7;
}

#arc_design .arc-42 {
  transform: rotate(218deg);
}
#circle_4 .white-line {
  stroke-dashoffset: -220;
  stroke-dasharray: 163.4 741.4;
}
#circle_4 .line-1 {
  stroke-dashoffset: -226;
  stroke-dasharray: 167.9 762;
}
#circle_4 .line-2 {
  stroke-dashoffset: -232;
  stroke-dasharray: 172.4 782.6;
}
#circle_4 .line-3 {
  stroke-dashoffset: -238;
  stroke-dasharray: 177 803.2;
}

#circle_5 .white-line {
  stroke-dashoffset: 370;
  stroke-dasharray: 209.4 795.9;
}
#circle_5 .line-1 {
  stroke-dashoffset: 379;
  stroke-dasharray: 214.7 815.7;
}
#circle_5 .line-2 {
  stroke-dashoffset: 388;
  stroke-dasharray: 219.9 835.7;
}
#circle_5 .line-3 {
  stroke-dashoffset: 397;
  stroke-dasharray: 225.1 855.6;
}

#arc_design .arc-61 {
  transform: rotate(-90deg);
}
#circle_6 .white-line {
  stroke-dashoffset: 300;
  stroke-dasharray: 248.7 945.1;
}
#circle_6 .line-1 {
  stroke-dashoffset: 300;
  stroke-dasharray: 253.9 965;
}
#circle_6 .line-2 {
  stroke-dashoffset: 300;
  stroke-dasharray: 259.2 984.9;
}
#circle_6 .line-3 {
  stroke-dashoffset: 300;
  stroke-dasharray: 264.4 1004.8;
}
/* Circle and Arcs ENDS */
